<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Keep-It</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-light">

  <div class="p-1">
    <!-- Hamburger Menu -->
    <button class="navbar-toggler-icon p-1 border-0"></button>
    <!-- Logo -->
    <img alt="Logo Img" class="logo-img p-1" src="../../assets/imgs/logo-1.jpg">
    <!-- App Name -->
    <a class="navbar-brand p-1" href="#">Keep-It</a>
  </div>

  <!--  Search Bar  -->
  <div class="ml-5">
    <form class="search-bar-wrapper form-inline my-2 my-lg-0">
      <!-- Search Icon -->
      <img alt="Search Img" src="../../assets/imgs/search-2.png">
      <!-- Input Search Bar -->
      <input aria-label="Search" class="form-control border-0 mr-sm-2" id="search-bar" placeholder="Search" size="50"
             type="search">
      <!-- Cancel -->
      <span class="">X</span>
    </form>
  </div>

  <div class="ml-auto">
    <button class="btn">Refresh</button>
    <button class="btn">Settings</button>
    <button class="btn">Logout</button>
  </div>

</nav>

</body>
</html>
